<div id="videoPlayerID111111" data-video="id:<%= video_id %>" class=" gfrplayer-rendered"></div>
<script type="text/javascript">
	var videoPlayer = videoPlayer || [];
	videoPlayer['videoPlayerID111111'] = {
		"videoAdTag":"http://ads.us.e-planning.net/eb/4/f98e/Spots_Video/preroll?o=v&ma=1&vv=3",
		"videoResponsive":true,
		"videoRenderMode": "javascript",
		"listbarPosition":"right",
		"videoAspectRatio":"16:9",
		"videoShareURL": "",
		"videoID":<%= video_id %>};
</script>
<script type="text/javascript" src="//assets.gfrvideo.com/assets/embed/embed-lib.js"></script>