<div class="content">

	<%= render partial:"header"%>

	<section id="wrapper">
		
	<div id="container">

	<%= render partial: "griditems" , locals: { archive: @archive}%>
	

	</div>
	</section>
<div style="clear:both"></div>

</div>
